<div class="copy-bro copy-bro-group layout">
    <div class="copy-bro-flex layout1">
      <div class="copy-bro-flex-spacer"></div>
      <div class="copy-bro-flex-col">
        <div class="copy-bro-flex1 layout">
          <div class="copy-bro-flex2 layout">
            <div class="copy-bro-flex2-col">
              <img class="copy-bro-img layout"
                style="--src:url(/assets/505cdcbed0806412340eeeafe15a945f.png)"
              ></img>
            </div>
            <div class="copy-bro-flex2-spacer"></div>
            <div class="copy-bro-flex2-col1">
              <div class="copy-bro-group1 layout">
                <h5 class="copy-bro-highlights1 layout" style="margin: auto;">Установить</h5>
                <!--img class="copy-bro-image layout"
                  style="--src:url(/assets/42d0e088c7a780bf5a5fd65dd834e9be.png)"
                ></img-->
              </div>
            </div>
          </div>
          <div class="copy-bro-group2 layout">
            <div class="copy-bro-group3 layout">
              <div class="copy-bro-group4 layout">
                <div class="copy-bro-group5 layout">
                  <div class="copy-bro-group6 layout">
                    <div class="copy-bro-group7 layout">
                      <div class="copy-bro-group8 layout">
                        <div class="copy-bro-group9 layout">
                          <div class="copy-bro-group10 layout">
                            <div class="copy-bro-group11 layout">
                              <div class="copy-bro-flex3 layout">
                                <div class="copy-bro-flex3-col">
                                  <div class="copy-bro-flex4 layout">
                                    <div class="copy-bro-flex5 layout">
                                      <h1 class="copy-bro-hero-title-box layout">
                                        <pre class="copy-bro-hero-title">
                                          <span class="copy-bro-hero-title-span0">Инвестируйте легко</span><span class="copy-bro-hero-title-span1"> и получайте доход</span>
                                        </pre>
                                      </h1>
                                      <div class="copy-bro-group12 layout">
                                        <div class="copy-bro-group13 layout">
                                          <div class="copy-bro-group14 layout">
                                            <div class="copy-bro-flex6 layout">
                                              <div class="copy-bro-flex6-col">
                                                <div class="copy-bro-group15 layout">
                                                  <h1 class="copy-bro-hero-title1-box layout">
                                                    <pre class="copy-bro-hero-title1">+51,9% </pre>
                                                  </h1>
                                                  <h1 class="copy-bro-big-title layout">годовых</h1>
                                                </div>
                                              </div>
                                              <div class="copy-bro-flex6-spacer"></div>
                                              <div class="copy-bro-flex6-col1">
                                                <div class="copy-bro-group16 layout">
                                                  <div class="copy-bro-group17 layout" title="Общий показатель по среднегодовой доходности стратегий">
                                                    <h2 class="copy-bro-medium-title layout">*</h2> 
                                                  </div>
                                                  <div class="copy-bro-group18 layout"></div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <px-posize
                                        x="0fr 421fr 49fr"
                                        y="14px minmax(0px, 96fr) 0px"
                                        xs-x="0fr 421fr 49fr"
                                        xs-y="7px minmax(0px, 96fr) 0px"
                                        ><h5 class="copy-bro-highlights">
                                          Выбирайте стратегии успешных трейдеров <br>
                                          и копируйте сделки в авторежиме. Зарабатывайте легко и с
                                          минимальными рисками через мобильное приложение Сopybro.
                                        </h5>
                                      </px-posize>
                                    </div>
                                    <div class="copy-bro-flex7 layout">
                                      <div class="copy-bro-cover-group layout">
                                        <h5 class="copy-bro-highlights1 layout">Установить приложение</h5>
                                      </div>
                                      <div class="copy-bro-flex layout">
                                        <img class="copy-bro-img layout1"
                                          src="/assets/7a6d89f39791c725a3906d8474945ac3.png"
                                        />
                                        <!--div class="copy-bro-img layout1"
                                          style="--src:url(/assets/7a6d89f39791c725a3906d8474945ac3.png)"
                                        ></div-->
                                        <div class="copy-bro-flex8-spacer"></div>
                                        <div class="copy-bro-img layout2"
                                          style="--src:url(/assets/a252d47411ee73c4bbf79e7ec92fb945.png)"
                                        ></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="copy-bro-flex3-spacer"></div>
                                <div class="copy-bro-flex3-col1">
                                  <px-posize
                                    x="1fr 580.09fr 1fr"
                                    y="0fr minmax(480px,480fr) 14.88fr"
                                    sm-x="0fr 435fr 0fr"
                                    sm-y="0fr minmax(480px,480fr) 14.88fr"
                                    xs-x="0fr 320fr 0fr"
                                    xs-y="0fr minmax(480px,480fr) 7fr">
                                    <img class="copy-bro-img3"
                                      src="/assets/7a970cb2931a0308d7feea141b3f28b9.png"
                                    />
                                  </px-posize>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="copy-bro-group19 layout">
                          <div class="copy-bro-group20 layout">
                            <div class="copy-bro-flex9 layout">
                              <div class="copy-bro-flex9-col">
                                <px-posize
                                  x="1fr 605fr 0px"
                                  y="0px minmax(654.24px,654.24fr) 0px">
                                  <div class="copy-bro-group21">
                                    <img class="copy-bro-image layout1"
                                      src="/assets/84385b63fadfaac4e2bc4c5bfaa7f564.png"
                                    />
									                </div>
                                </px-posize>
                              </div>



                              <div class="copy-bro-flex9-col1">
                                <div class="copy-bro--b copy-bro--b-group layout">
                                    <px-posize x="1fr 712fr 1fr" y="153px minmax(500px,500fr) 0fr">
                                      <div class="copy-bro--b-group1">
                                        <div class="copy-bro--b-flex layout">
                                          <h1 class="copy-bro--b-hero-title-box layout">
                                            <div class="copy-bro--b-hero-title">
                                              <span class="copy-bro--b-hero-title-span0">Автоследование: <br></span>
                                              <span class="copy-bro--b-hero-title-span1">минимальные риски,</span>
                                              <span class="copy-bro--b-hero-title-span2">оптимальная доходность</span>
                                            </div>
                                          </h1>
                                          <h5 class="copy-bro--b-highlights layout">
                                            Мы собрали для вас лучшие торговые стратегии <br>с подтвержденными
                                            данными по прошлым сделкам <br>и их доходности. <br>Трейдер ежедневно
                                            следит за динамикой рынка, совершая сделки и балансируя риски и
                                            доходность стратегии.
                                          </h5>
                                        </div>
                                    </div>
                                    </px-posize>
                                </div>
                              </div>
                    

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  